nav {
    background-color: #0008b0;
    padding: 10px;
}

nav a {
color: white;
display: block;
padding: 20px;
}

h1 {
    color: #000800;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 10px;
}

main {
max-width: 840px
}

main img {
width: 95%;
height: auto;
padding: 2px;
border: 0 0 10px solid #333;
box-shadow: #000;
text-align: center;
}

section {
    border: 1px solid #333;
    padding: 2px;
    background-color: #f0f0f0;
    text-align: center;

}

p {
    padding: 0;
}

aside {
    width: 200px;
    margin: 2rem;
    border: 1px solid #333;
    padding: 2px;
    background-color: #f0f0f0;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid #000;
    text-align: center;

}